body{
    margin: 0%;
}
.sc1{
    background-image: url(images/slider-01.jpg);
    width: 100%;
    height: 100vh;
    height: 100%;
    padding: 30px;
}
.container-css{
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;

}
.itm{
    flex-grow: 1;
    padding: 1px;
    text-align: center;
    
}
.t{
    color: goldenrod;
    font-size: 30px;
    font-family: cursive;
}
.p{
    color: gray;
    font-family: cursive;
    font-size: 20px;
}
.ft{
    color: goldenrod;
    font-size: 30px;
    font-family: cursive;
    
}
.input{
    display: block;
    width: 80%;
    padding: 8px;
    margin: auto;
    margin-bottom: 5px;
}
.sec-2{
    height: max-content;
}
.s-h{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    margin-top:50px;
    
}
.s-btn{
    background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
padding: 10px 15px;
width: 200px;
margin-left:25px ;
border: none;
border-radius: 30px 0px;
color: white;
margin-top: 30px;

}
@media screen and (max-width:1300px) {
    img{
        width: 70%;
    }
}
.h-2{
    font-weight: 600;
    text-align: center;
    padding: 0px 80px 30px 80px;
}
.p-2{
    font-size: large;
}
@media screen and (max-width:1000px) {
    .img-2{
        width: 100%;
    }
}
.sec-3{
    background-image: url(images/sec3-01.jpg);
    height: max-content;
    background-size: cover;
    padding: 100px;
}
@media screen and (max-width:776px) {
    .i{
        width: 20%;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border: none;
    }
}

.h-3{
    font-size: xx-large;
    font-family: cursive;
    color: white;
    padding: 30px 0 0 0;
}
.h-4{
    font-size: xx-large;
    font-family: cursive;
    color: yellow;
    padding: 0 0 50px 0;
}
.pd-3{
    color: white;
    font-family: cursive;
    padding: 25px;
    border: 1px solid whitesmoke;
    margin: auto;
    text-align: center;
}
.sec-4{
    background-image: url(images/86327-01.png);
    height: max-content;
    padding-bottom: 80px;
    background-size: cover;
}
@media screen and (max-width:600px) {
    .h-5{
        position: relative;
        bottom: 50px;
        left: 50px;
        padding: 0%;
    }
}
.sec-5{
    background-image: url(images/16957-01.png);
    background-size: cover;
    height: max-content;
    width: 100%;
    padding: 100px;
}
.c-img{
    width: 90%;
}
.h-7{
    color: white;
}
.p-7{
    color: white;
}
@media screen and (max-width:600px) {
    .sec-5{
        padding: 10%;
    }
    .s-btn{
        width: 99%;
        padding: 5%;
        font-size: 10px;
    }
}
.sec-6{
    height: max-content;
    padding: 20px;
}
.h-8{
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    margin-top: 40px;
}

.p-img{
    width: 100%;
    margin-top: 10px;
}

.l-inp{
    background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
padding: 0.5% 3% ;
border: none;
width: 30%;
margin: auto;
margin-top: 2%;
}

/* LAst Section */

.sl{
    background-image: url(images/bgservices.jpg);
    width: 100%;
    background-size: cover;
    height: max-content;
    padding: 50px;
}
.inp-l{
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #f5ecec 0%, #b3b5b8 74%);
    border: none;
    padding: 5px;
    margin-top: 15px;
}
.inp-lb{
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #f5ecec 0%, #b3b5b8 74%);
    border: none;
    padding: 7%;
    margin-top: 15px;
}
.h-9{
    color: white;
    font-size: 30px;
    text-align: center;
    display: inherit;
}
.p-9{
    color: yellow;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
.ftr{
    background-color: black;
}
.ftr-p{
    color: white;
    margin: 0%;
    text-align: center;
    padding: 5%;
}
@media screen and (max-width:500px){
    .sec-3{
        padding: 0%;
    }
    .sec-4{
        padding-bottom: 50%;
    }
    
    .pp-5{
        padding: 5%;
    }
}
.pp-5{
    padding: 3rem;
}
